:root {
  --background-color: #000000;
  --background-color-dark: #000000;
  --background-hover-color: #ffffff;
  --text-color: #ffffff;
  --text-hover-color: #000000;
  --border-color: #ffffff;
  --border-size: 6px;
  --border-size-hover: 12px;
}

:root.light-mode {
  --background-color: #ffffff;
  --background-color-dark: #ffffff;
  --background-hover-color: #000000;
  --text-color: #000000;
  --text-hover-color: #ffffff;
  --border-color: #000000;
}
