:root {
  --background-color: #353535;
  --background-color-dark: #454545;
  --background-hover-color: #ffffff;
  --text-color: #ffffff;
  --text-hover-color: #000000;
  --border-color: #ffffff;
  --border-size: 6px;
  --border-size-hover: 12px;
}

:root.light-mode {
  --background-color: #dbdbdb;
  --background-color-dark: #a7a7a7;
  --background-hover-color: #000000;
  --text-color: #000000;
  --text-hover-color: #ffffff;
  --border-color: #000000;
}
