@import "__variables.css";

:root {
  --gap: 2%;
  --projects-per-row: 3;
  --s: 16px; /* Corner size */
}

.projects-title {
  padding-top: 16px;
  margin: 16px 0;
  border-right: var(--border-size) solid transparent;
  border-left: var(--border-size) solid transparent;
  border-top: var(--border-size) solid var(--border-color);
}

.projects-title h1 {
  font-size: 48px;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: 8px;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(100% / var(--projects-per-row) - var(--gap)); /* Calculates initial size */
  border: var(--border-size) solid var(--border-color);
  margin-bottom: var(--gap);
  height: 480px;
  max-width: calc(
    100% / var(--projects-per-row) - var(--gap)
  ); /* Prevents stretching to fill the available space */
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-0.5em);
}

.project-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px;
  border: var(--border-size) solid transparent;
  border-top: var(--border-size) solid var(--border-color);
  margin-top: auto;
  text-align: center;
}

.project-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  filter: brightness(1) invert(0);
}

.project-details-button {
  display: inline-block;
  padding: 16px;
  margin: auto auto 16px;
  border: var(--border-size) solid var(--border-color);
  mask:
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  text-decoration: none;
  background: var(--background-color);
  color: var(--text-color);
}

.project-details-button:hover,
.project-details-button:focus {
  background: var(--background-hover-color);
  color: var(--text-hover-color);
  mask: none;
  outline: none;
}

@media (max-width: 1000px) {
  .project {
    flex-basis: calc(50% - var(--gap));
    max-width: calc(50% - var(--gap));
  }
}

@media (max-width: 500px) {
  .project {
    flex-basis: calc(100% - var(--gap));
    max-width: calc(100% - var(--gap));
  }
}
